$nav-bg: #26C485;
$taxto-bg: #5B507A;
$footer-color: #030301;
$footer-text: #fff; 

.logotipo {
    max-width: 6%;
    height: auto;
}

.header-text {
    color: white;
    text-shadow: black 3px 3px;
}
    .header-text:hover {
        color: black;
    }



.bg-taxto {
    margin: 2rem 0;
    background-color: $taxto-bg;
}

.bg-custom {
    background-color: $nav-bg;
    border: 1px black;
}

.slide {
    height: 90vh;
    padding-top: 2rem;
}

.libi {
    justify-content: end;
}

.card.text {
    font-size: .2rem;
}

footer {
    background-color: $footer-color;
    color: $footer-text;
    height: 100px;
    }

@import "./node_modules/bootstrap/scss/bootstrap.scss"
