$footer-color: #000;
$footer-text: #fff; 

.col {
 margin-bottom: 1rem;
}

.card {
    margin-top: 1rem;
}

footer {
    background-color: $footer-color;
    color: $footer-text;
    height: 100px;
    }

@import "./node_modules/bootstrap/scss/bootstrap.scss"
